/target/
/public/WEB-INF/appengine-generated
/public/WEB-INF/classes
/public/WEB-INF/lib
/public/WEB-INF/*.api
.gradle
.classpath
.project
.settings

/.idea/
/classes/
*.iml
/.tern-project
/public/bower_components
