.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}

.ng-inline-edit {
	display: inline-block;
}

html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}