<div class="container-fluid" ng-controller="categoryController" novalidate>

	<div id="alerts"></div>

	<div class="btn-group pull-right" role="group">
		<button id="addNewCategoryButton"class="btn btn-info" ng-click="addNewCategory()">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ "NEW_CATEGORY" | translate }}
		</button>

		<button id="refreshButton" class="btn btn-info " ng-click="refreshCategories()">
			<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;{{ "REFRESH" | translate }}
		</button>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th><a id="categoryNameHeader" href="#/categories" ng-click="orderByField='name'; reverseSort = !reverseSort"> {{"CATEGORY_NAME" | translate}} <span
						ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
				</a></th>
				<th><a id="parentCategoryHeader" href="#/categories" ng-click="orderByField='parentCategory.name'; reverseSort = !reverseSort"> {{"PARENT_CATEGORY" | translate}} <span
						ng-show="orderByField == 'parentCategory.name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
				</a></th>
				<th />
			</tr>
		</thead>
		<tbody>
			<tr id="categoryRow" ng-switch on="category.mode" ng-repeat="category in categories|orderBy:orderByField:reverseSort" ng-form name="editCategoryForm_{{category.id}}">

				<td id="categoryName_{{category.id}}" ng-switch-when="readOnly">{{ category.name }}</td>
				<td id="parentCategory_{{category.id}}" ng-switch-when="readOnly">{{ category.parentCategory.name }}</td>
				<td ng-switch-when="edit"><input id="editCategoryName_{{category.id}}" required type="text" class="form-control" ng-model="category.copyForEdit.name" /></td>
				<td ng-switch-when="edit" id="editParentCategory_{{category.id}}">
					<md-select ng-model="category.copyForEdit.parentCategory.id" placeholder="Parent category">
						<md-option value="" ng-selected="{{category.copyForEdit.parentCategory.id == null}}">
							{{ "MAIN_CATEGORY" | translate }}
						</md-option>
						<md-option ng-repeat="categoryForSelect in categoriesForSelect(category)" value="{{categoryForSelect.id}}"
								   ng-selected="{{category.copyForEdit.parentCategory.id == categoryForSelect.id}}">
							{{categoryForSelect.name}}
						</md-option>
					</md-select>
				</select></td>

				<td>
					<button id="editButton_{{category.id}}" ng-switch-when="readOnly" class="btn btn-primary" ng-click="editCategory(category)">
						<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ "EDIT" | translate }}
					</button>
					<button id="saveButton_{{category.id}}" ng-switch-when="edit" class="btn btn-success" ng-disabled="!editCategoryForm_{{category.id}}.$valid" ng-click="saveCategory(category)">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{ "SAVE" | translate }}
					</button>
					<button id="cancelButton_{{category.id}}" ng-switch-when="edit" class="btn btn-warning" ng-click="cancelEditCategory(category)">
						<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;{{ "CANCEL" | translate }}
					</button>
					<button id="deleteButton_{{category.id}}" ng-switch-when="edit" class="btn btn-danger" ng-click="removeCategory(category)" ng-disabled="isUsedAsParentCategory(category)">
						<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ "DELETE" | translate }}
					</button>
				</td>

			</tr>

			<tr ng-show="newCategory.visible" ng-form name="newCategoryForm">
				<td><input id="newCategoryName" required type="text" class="form-control" ng-model="newCategory.name"/></td>
				<td id="newParentCategory">
					<md-select ng-model="newCategory.parentCategory.id" placeholder="Parent category">

						<md-option value="" selected="selected">
							{{ "MAIN_CATEGORY" | translate }}
						</md-option>
						<md-option ng-repeat="category in categories" value="{{category.id}}">
							{{category.name}}
						</md-option>
					</md-select>
				</td>
				<td>
					<button id="saveButton" class="btn btn-success" ng-disabled="!newCategoryForm.$valid" ng-click="saveNewCategory(newCategory)">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{ "SAVE" | translate }}
					</button>

					<button id="cancelButton" class="btn btn-warning" ng-click="cancelAddNewCategory()">
						<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;{{ "CANCEL" | translate }}
					</button>
				</td>
			</tr>

		</tbody>
	</table>
</div>
