<div class="container" ng-controller="transactionsController" novalidate>

	<div id="alerts"></div>

	<div class="btn-group pull-right" role="group">
		<button class="btn btn-info" ng-click="addNewTransaction()">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ "NEW_TRANSACTION" | translate }}
		</button>

		<button id="refreshButton" class="btn btn-info " ng-click="refreshTransactions()">
			<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;{{ "REFRESH" | translate }}
		</button>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th translate="TRANSACTION_DATE" />
				<th translate="TRANSACTION_DESCRIPTION" />
				<th translate="TRANSACTION_CATEGORY" />
				<th translate="TRANSACTION_ACCOUNT" />
				<th translate="TRANSACTION_PRICE" />
				<th translate="TRANSACTION_COMMENT" />
				<th />
			</tr>
		</thead>
		<tbody>
			<tr ng-switch on="transaction.mode" ng-repeat="transaction in transactions" ng-form name="editTransactionForm_{{transaction.id}}">

				<td ng-switch-when="readOnly">{{ transaction.date | date : "yyyy-MM-dd" }}</td>
				<td ng-switch-when="readOnly">{{ transaction.description }}</td>
				<td ng-switch-when="readOnly">{{ transaction.categoryName }}</td>
				<td ng-switch-when="readOnly">{{ transaction.accountName }}</td>
				<td ng-switch-when="readOnly">{{ transaction.price }}</td>
				<td ng-switch-when="readOnly">{{ transaction.comment }}</td>
				<td ng-switch-when="edit"> <input required type="date" class="form-control" ng-model="transaction.date" /> </td>
				<td ng-switch-when="edit"><input required type="text" class="form-control" ng-model="transaction.description" /></td>
				<td ng-switch-when="edit"><select chosen class="form-control" ng-model="transaction.categoryId"
					ng-options="category.id as category.name for category in categories"></select></td>
				<td ng-switch-when="edit"><select chosen class="form-control" ng-model="transaction.accountId"
					ng-options="account.id as account.name for account in accounts"></select></td>
				<td ng-switch-when="edit"><input required type="number" class="form-control" ng-model="transaction.price" /></td>
				<td ng-switch-when="edit"><input required type="text" class="form-control" ng-model="transaction.comment" /></td>

				<td>
					<button ng-switch-when="readOnly" class="btn btn-primary" ng-click="editTransaction(transaction.id)">
						<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ "EDIT" | translate }}
					</button>
					<button ng-switch-when="edit" class="btn btn-success" ng-disabled="!editTransactionForm_{{transaction.id}}.$valid" ng-click="saveTransaction(transaction)">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{ "SAVE" | translate }}
					</button>
					<button ng-switch-when="edit" class="btn btn-warning" ng-click="cancelEditTransaction(transaction.id)">
						<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;{{ "CANCEL" | translate }}
					</button>
					<button ng-switch-when="edit" class="btn btn-danger" ng-click="removeTransaction(transaction.id, transaction.description)">
						<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ "DELETE" | translate }}
					</button>
				</td>

			</tr>

			<tr ng-show="newTransaction.visible" ng-form name="newTransactionForm">
				<td><input required type="date" class="form-control" ng-model="newTransaction.date" /></td>
				<td><input required type="text" class="form-control" ng-model="newTransaction.description" /></td>
				<td><select chosen class="form-control" ng-model="newTransaction.categoryId" ng-options="category.id as category.name for category in categories">
				</select></td>
				<td><select chosen class="form-control" ng-model="newTransaction.accountId" ng-options="account.id as account.name for account in accounts">
				</select></td>
				<td><input required type="number" class="form-control" ng-model="newTransaction.price" /></td>
				<td><input required type="text" class="form-control" ng-model="newTransaction.comment" /></td>


				<td>
					<button class="btn btn-success" ng-disabled="!newTransactionForm.$valid" ng-click="saveNewTransaction(newTransaction)">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{ "SAVE" | translate }}
					</button>

					<button class="btn btn-warning" ng-click="cancelAddNewTransaction()">
						<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;{{ "CANCEL" | translate }}
					</button>
				</td>
			</tr>

		</tbody>
	</table>
</div>
