<div
 class="container-fluid"
 flex
 ng-controller="filtersController"
 novalidate>

 <uib-tabset
  type="tabs"
  justified="false"> <uib-tab
  ng-repeat="filter in filters | orderBy:'name'"
  select="applyFilter(filter)"
  active="filter.active"> <uib-tab-heading> <span ng-show="filter.id !== selectedFilter.id ">{{filter.name}}</span> <span
  ng-show="filter.id === selectedFilter.id"
  inline-edit-placeholder="Filter name" // I18N
  inline-edit="filter.name"
  inline-edit-btn-edit=""
  inline-edit-on-blur="save"
  inline-edit-callback="saveEditedFilter(newValue)"
  inline-edit-on-click></span> <span ng-show="filter.id === selectedFilter.id">&nbsp;&nbsp;</span> <span
  class="glyphicon glyphicon-remove"
  ng-click="deleteSelectedFilter()"
  ng-show="filter.id === selectedFilter.id"></span> </uib-tab-heading>
 </uib-tab> 
  <button class="btn btn-default pull-right" ng-click="addNewFilter()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
  </uib-tabset>

<div 
  class="container-fluid"
  ng-include="'pages/transactions/transactions-table.html'"></div>

</div>
