<div class="container" ng-controller="accountController" novalidate>

	<div id="alerts"></div>

	<div class="btn-group pull-right" role="group">
		<button class="btn btn-info" ng-click="addNewAccount()">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ "NEW_ACCOUNT" | translate }}
		</button>

		<button id="refreshButton" class="btn btn-info " ng-click="refreshAccounts()">
			<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;{{ "REFRESH" | translate }}
		</button>
	</div>

	<table class="table table-striped">
		<thead>
			<tr id="accountHeader">
				<th translate="ACCOUNT_NAME" />
				<th translate="ACCOUNT_STATE" />
				<th />
			</tr>
		</thead>
		<tbody id="accountsTableBody">
			<tr ng-switch on="account.mode" ng-form name="editAccountForm_{{ account.id }}" ng-repeat="account in accounts">

				<td ng-switch-when="edit"><input type="text" required class="form-control" ng-model="account.name" /></td>
				<td ng-switch-when="edit"><input required type="number" value="1000" step="0.01" class="form-control currency" ng-model="account.value" /></td>

				<td ng-switch-when="readOnly">{{ account.name }}</td>
				<td ng-switch-when="readOnly">{{ account.value | currency }}</td>

				<td>
					<button ng-switch-when="readOnly" class="btn btn-primary" ng-click="editAccount(account.id)">
						<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ "EDIT" | translate }}
					</button>
					<button ng-switch-when="edit" class="btn btn-success" ng-disabled="!editAccountForm_{{account.id}}.$valid" ng-click="saveAccount(account)">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{ "SAVE" | translate }}
					</button>
					<button ng-switch-when="edit" class="btn btn-warning" ng-click="cancelEditAccount(account.id)">
						<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;{{ "CANCEL" | translate }}
					</button>
					<button ng-switch-when="edit" class="btn btn-danger" ng-click="removeAccount(account.id, account.name)">
						<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ "DELETE" | translate }}
					</button>
				</td>
			</tr>
			<tr ng-show="newAccount.visible" ng-form name="newAccountForm">
				<td><input type="text" required class="form-control" ng-model="newAccount.name" /></td>
				<td><input required type="number" value="1000" step="0.01" class="form-control currency" ng-model="newAccount.value" /></td>

				<td>
					<button class="btn btn-success" ng-disabled="!newAccountForm.$valid" ng-click="saveNewAccount(newAccount)">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{ "SAVE" | translate }}
					</button>

					<button class="btn btn-warning" ng-click="cancelAddNewAccount()">
						<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;{{ "CANCEL" | translate }}
					</button>
				</td>
			</tr>

		</tbody>
	</table>
</div>

